@model BookShop.Models.Order
@using System.Globalization

<h2>Order Details - @Model.OrderId</h2>

<div class="card">
    <div class="card-header">
        Order Information
    </div>
    <div class="card-body">
        <p class="card-text">Date: @Model.OrderDate.ToString("G")</p>
        <p class="card-text">Status: @Model.Status</p>
        <p class="card-text">Address: @Model.Address</p>
    </div>
</div>

<table class="table mt-3">
    <thead class="thead-light">
        <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Price per Unit</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            <tr>
                <td>@detail.Book.Title</td>
                <td>@detail.Quantity</td>
                <td>@detail.Price.ToString("C", CultureInfo.GetCultureInfo("de-DE"))</td>
                <td>@((detail.Price * detail.Quantity).ToString("C", CultureInfo.GetCultureInfo("de-DE")))</td>
            </tr>
        }
    </tbody>
</table>
